<!--<div class="container">-->
<div class="row">

    <page-title>
        <h5>Fluxo de caixa</h5>
    </page-title>

    <div class="card-panel z-depth-5">
        <div v-if="hasCashFlows">
            <table class="bordered hightlight responsive-table">
                <thead>
                <tr class="green lighten-3">
                    <th class="text-csv"></th>
                    <th v-if="!hasFirstMonthYear"  class="text-csv">
                        {{firstMonthYear | monthYear}}
                    </th>
                    <th v-for="o in monthsList"  class="text-csv" :class="{'green lighten-2': isCurrentMonthYear(o.period)}">
                        {{o.period | monthYear}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="grey lighten-3">
                    <td><strong class="text-csv">Recebimentos</strong></td>
                    <td v-if="!hasFirstMonthYear" class="text-csv">
                        0
                    </td>
                    <td v-for="o in monthsList" class="text-csv">
                        {{o.revenues.total | numberFormat true}}
                    </td>
                </tr>
                <tr v-for="o in categoriesMonths.revenues.data">
                    <td class="text-csv">{{o.name}}</td>
                    <td v-if="!hasFirstMonthYear" class="text-csv"></td>
                    <td v-for="v in monthsList" class="text-csv">
                        {{categoryTotal(o,v.period).total | numberFormat true}}
                    </td>
                </tr>
                <tr class="grey lighten-3">
                    <td><strong class="text-csv">Pagamentos</strong></td>
                    <td v-if="!hasFirstMonthYear" class="text-csv">
                        0
                    </td>
                    <td v-for="o in monthsList" class="text-csv">
                        {{o.expenses.total | numberFormat true}}
                    </td>
                </tr>
                <tr v-for="o in categoriesMonths.expenses.data">
                    <td class="text-csv">{{o.name}}</td>
                    <td v-if="!hasFirstMonthYear" class="text-csv"></td>
                    <td v-for="v in monthsList" class="text-csv">
                        {{categoryTotal(o,v.period).total | numberFormat true}}
                    </td>
                </tr>
                <tr class="grey lighten-4">
                    <td><strong class="text-csv">Geração de caixa</strong></td>
                    <td v-if="!hasFirstMonthYear" class="text-csv">
                        0
                    </td>
                    <td v-for="o in monthsList" class="text-csv">
                        {{o.revenues.total - o.expenses.total | numberFormat true}}
                    </td>
                </tr>
                <tr class="grey lighten-4">
                    <td><strong class="text-csv">Saldo mês anterior</strong></td>
                    <td class="text-csv">{{balanceBeforeFirstMonth | numberFormat true}}</td>
                    <td class="text-csv">{{firstBalance | numberFormat true}}</td>
                    <td class="text-csv">{{secondBalance | numberFormat true}}</td>
                    <td v-for="(key,o) in monthsListBalancePrevious" class="text-csv">
                        {{balance(key) | numberFormat true}}
                    </td>
                </tr>
                <tr class="green lighten-3">
                    <td><strong class="text-csv">Saldo final</strong></td>
                    <td class="text-csv">{{firstBalance | numberFormat true}}</td>
                    <td class="text-csv">{{secondBalance | numberFormat true}}</td>
                    <td v-for="(key,o) in monthsListBalanceFinal" class="text-csv">
                        {{balance(key) | numberFormat true}}
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="fixed-action-btn">
                <a class="btn-floating btn-large" @click="downloadCsv" title="Download">
                    <i class="large material-icons">file_download</i>
                </a>
            </div>

        </div>
    </div>

</div>
<!--</div>  container -->